extends layout

block head
	link(rel='stylesheet', href='/stylesheets/account.css')

block content
	- if(merchantInfo){
		
	- }else{
		.frame
			form(method='POST', action='/account', enctype='multipart/form-data')
				.form-body
					.form-group.col-md-12
						h5 You have not yet created your profile. Please fill the form below.
						h5.msg #{msg}
					.form-group.col-md-6
						label Merchant Name
						input.form-control.readonly(type='text', value=session.user, readonly='')
					.form-group.col-md-6
						label Logo
						input(type='file', name='logo')
					.form-group.col-md-12
						label Company Description
						textarea.form-control(rows='5', name='description')
					.form-group.col-md-4#pic1
						label Picture
						img#pplus.sign.pointer(src='/images/plus.png', onclick='add_picture()')
						img#pminus.sign.pointer(src='/images/minus.png', onclick='delete_picture()')
						input(type='file', name='picture')
					.form-group.col-md-8
						label Caption
						input.form-control(type='text', name='caption')
					.form-group.col-md-12#loc1
						label Store Location
						img#lplus.sign.pointer(src='/images/plus.png', onclick='add_location()')
						img#lminus.sign.pointer(src='/images/minus.png', onclick='delete_location()')
						input.form-control(type='text', name='location')
					input.hidden(type='text', id='picNo', name='picNo')
					input.hidden(type='text', id='locNo', name='locNo')
				.bottom
					input#updatebtn(type='submit', value='Update')
	- }

block js
	script(src='/javascripts/account.js')