extends layout

block content
	h1 Change Password
	form(method='POST', action='/account/changepassword')
		label Old password
		input(type='password', name='oldpw')
		label New password
		input(type='password', name='newpw')
		label #{msg}
		input(type='submit', value='Submit')

block js