extends layout

block head
	link(rel='stylesheet', href='/stylesheets/changepassword.css')

block content
	.frame
		form(method='POST', action='/account/changepassword')
			.form-group
				label Old password
				input.form-control(type='password', name='oldpw')
			.form-group
				label New password
				input.form-control(type='password', name='newpw')
			label #{msg}
			.bottom
				input(type='submit', value='Submit')

block js