doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title PromoHunter - Merchant Station
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-iso.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Poppins:400,700", rel="stylesheet")
		block head
	body
		script(src='/javascripts/jquery-3.3.1.min.js')
		.layout
			.navigationbar
				.logo
					img(src='../images/PromoHunter-LOGO.png')
					h3 PromoHunter
				.nav
					ul
						li#firstsub MAIN
						a#main(href='/main')
							li
								img(src='../images/dashboard.png')
								span Dashboard
						a#campaign(href='/campaign')
							li
								img(src='../images/campaign.png')
								span Campaigns
						a#coupon(href='')
							li
								img(src='../images/coupon.png')
								span Coupons
						li.sub INSIGHT
						a#performance(href='')
							li
								img(src='../images/performance.png')
								span Performance
						a#trend(href='')
							li
								img(src='../images/trend.png')
								span Trend
						li.sub ACCOUNT
						a#information(href='')
							li
								img(src='../images/information.png')
								span Information
						a#password(href='')
							li
								img(src='../images/password.png')
								span Change Password
						a(href='/logout')
							li
								img(src='../images/logout.png')
								span Logout
			.content-container
				.headerbar
					input#search(type='text')
					span= "Hi, "+session.user
				.main.bootstrap-iso
					block content
		block js