extends layout

block head
	link(rel='stylesheet', href='/stylesheets/main.css')

block content
	.grid-container
		.item1
			.frame.center
				img.small(src='/images/1.png')
		.item2
			.frame.center
				img.small(src='/images/2.png')
		.item3
			.frame.center
				img.small(src='/images/3.png')
		.item4
			.frame.center
				img.medium(src='/images/4.png')
		.item5
			.frame.center
				img.medium(src='/images/5.png')
		.item6
			.frame.center
				img.large(src='/images/6.png')
		.item7
			.frame.center
				img.large(src='/images/7.png')

block js
	script(src='/javascripts/main.js')