extends layout

block content
  h1= "Hi, "+session.user
  h1 
    a(href='/account') Account Information
  h1
    a(href='/campaign') Campaign
  h1
    a(href='/insight') Insight
  h1
    a(href='/logout') Logout