doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title PromoHunter
		link(rel='stylesheet', type='text/css', href='/stylesheets/validatedqr.css')
		link(href="https://fonts.googleapis.com/css?family=Poppins:400,700", rel="stylesheet")
	body
		.center
			img(src='/images/PromoHunter-LOGO.png')
		.center
			h1 #{msg}
