table, .card-body{
	padding: 0 !important;
	margin: 0;
	font-size: 14px;
}

.popupform{
	width: 74%;
	height: 75%;
	opacity: .8;
	top: 15%;
	left: 23%;
	display: none;
	position: fixed;
	background-color: #fde8a0;
	overflow: auto;
	border-radius: 20px;
	overflow: inherit;
}

.center{
	text-align: center;
}

form{
	padding: 4%;
}

form img{
	height: 30px;
	width: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}

input.btn{
	width: 100px;
	border-radius: 10px !important;
}

.opsbtn{
	width: 23px;
	height: auto;
}

.pointer{
	cursor: pointer;
}

#map{
	position: absolute;
	height: 100% !important;
	width: 100% !important;
}

#mapformgroup{
	position: relative;
	width: 47%;
	padding-bottom: 25%;
}

.card-header{
	background: #fbd686;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body{
	background: white;
	padding: 2%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 92%;
}

.card{
	height: 100%;
}

a.nav-link{
	color: black;
}

a.nav-link:hover{
	color: black;
	background-color: #ffd8bb !important;
	border-color: #ffd8bb !important;
}

.active{
	color: black;
	background-color: #fcc348 !important;
	border-color: #fcc348 !important;
}

#campaignbtntab{
	float: right;
	margin-top: 7px;
	margin-right: 20px;
}

#newcampaignbtn{
	display: inline-block;
	border: none;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	background: white;
}

th{
	text-align: center !important;
}

#markerpos{
	display: none;
}

.tabcontent{
	display: none;
}

#current{
	display: block;
}

.blur-filter{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}